<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>JBank - login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/dashboard.css}"/>
    </head>

    <body>

    <header class="flex flex-between">
        <div class="flex flex-center logo-block">
            <img th:src="@{image/Logo@1x.png}" alt="Logo" height="40"/>
            <span>J-Bank</span>
        </div>
        <div class="flex flex-center">
            <div class="tool-bar">
                <a th:href="@{/disconnection}">Deconnexion</a>
            </div>
            <div class="clock">
                <span>12/12/2022</span> - <span>14:12:01</span>
            </div>
        </div>
    </header>

    <main class="flex">

        <nav class="flex flex-column">
            <div class="user-profil">
                <div class="flex flex-center">
                    <img th:src="@{image/user.png}"/>
                </div>
                <p>Nom : <span th:utext="${session.user.lastname}"></span></p>
                <p>Prenom (s) : <span th:utext="${session.user.firstname}"></span></p>
                <p>Numero de compte : <span th:utext="${session.accountDisplay}"></span></p>
                <p>Montant actuel : <span th:utext="${session.user.account.currentCredit}"></span> FCFA</p>
            </div>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/transaction}">New transaction</a></li>
                <li><a th:href="@{/update}">Modifier profil</a></li>
            </ul>
        </nav>

        <div class="flex flex-between">
            <section class="transaction-bloc">
                <h2>Transactions entrantes</h2>
                <table style="margin-right:50px;">
                    <thead>
                    <tr>
                        <th rowspan="2">Date</th>
                        <th colspan="2">Compte debiteur</th>
                        <th rowspan="2">Montant</th>
                        <th rowspan="2">Credit actuel</th>
                    </tr>
                    <tr>
                        <th>Numero</th>
                        <th>Debiteur</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="element : ${receiveTransaction}">
                            <td th:utext="${element.createAt}"></td>
                            <td th:utext="${element.toAccount.accountNumber}"></td>
                            <td><span th:utext="${element.toAccount.user.firstname}"></span> <span th:utext="${element.toAccount.user.lastname}"></span></td>
                            <td th:utext="${element.mount}"></td>
                            <td th:utext="${element.toAccountAmount}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="transaction-bloc">
                <h2>Transactions sortantes</h2>
                <table>
                    <thead>
                    <tr>
                        <th rowspan="2">Date</th>
                        <th colspan="2">Compte crediteur</th>
                        <th rowspan="2">Montant</th>
                        <th rowspan="2">Credit actuel</th>
                    </tr>
                    <tr>
                        <th>Numero</th>
                        <th>Crediteur</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="element : ${sendTransaction}">
                            <td th:utext="${element.createAt}"></td>
                            <td th:utext="${element.fromAccount.accountNumber}"></td>
                            <td><span th:utext="${element.fromAccount.user.firstname}"></span> <span th:utext="${element.fromAccount.user.lastname}"></span></td>
                            <td th:utext="${element.mount}"></td>
                            <td th:utext="${element.toAccountAmount}"></td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </main>

    </body>
</html>